In [1]:
import pandas as pd
train=pd.read_csv('./data/playground-series-s5e2/train.csv')
train.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [2]:
test=pd.read_csv('./data/playground-series-s5e2/train.csv')
test.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [4]:
train.nunique()

id                      300000
Brand                        5
Material                     4
Size                         3
Compartments                10
Laptop Compartment           2
Waterproof                   2
Style                        3
Color                        6
Weight Capacity (kg)    181596
Price                    48212
dtype: int64

In [5]:
train=train.drop(['id'],axis=1)
train.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [6]:
test=test.drop(['id'],axis=1)
test.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [7]:
import re
train = train.rename(columns = lambda x:re.sub('[^A-Za-z0-9]+', '_', x))
train.head()

,Brand,Material,Size,Compartments,Laptop_Compartment,Waterproof,Style,Color,Weight_Capacity_kg_,Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [8]:
test = test.rename(columns = lambda x:re.sub('[^A-Za-z0-9]+', '_', x))
test.head()

,Brand,Material,Size,Compartments,Laptop_Compartment,Waterproof,Style,Color,Weight_Capacity_kg_,Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [9]:
train.isnull().sum()

Brand                  9705
Material               8347
Size                   6595
Compartments              0
Laptop_Compartment     7444
Waterproof             7050
Style                  7970
Color                  9950
Weight_Capacity_kg_     138
Price                     0
dtype: int64

In [10]:
round(train.isnull().sum()*100/len(train),2)

Brand                  3.24
Material               2.78
Size                   2.20
Compartments           0.00
Laptop_Compartment     2.48
Waterproof             2.35
Style                  2.66
Color                  3.32
Weight_Capacity_kg_    0.05
Price                  0.00
dtype: float64

In [11]:
train[train.isna().any(axis=1)].head()

,Brand,Material,Size,Compartments,Laptop_Compartment,Waterproof,Style,Color,Weight_Capacity_kg_,Price
5,Nike,Canvas,Medium,10.0,No,Yes,NaN,Black,7.241812,20.01553
6,Nike,NaN,Large,3.0,No,No,Backpack,Green,6.828123,84.80500
10,Nike,Polyester,Large,1.0,Yes,No,Backpack,NaN,27.806951,68.31047
11,Nike,Polyester,NaN,10.0,No,No,NaN,Gray,13.697554,23.25963
21,Under Armour,Polyester,NaN,9.0,Yes,Yes,Messenger,Gray,11.219052,35.46348

In [12]:
train.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

      Compartments Weight_Capacity_kg_    Price
count       300000              299862   300000
mean       5.44359               18.03  81.4111
std        2.89077             6.96691  39.0393
min              1                   5       15
25%              3             12.0979  47.3846
50%              5             18.0686  80.9561
75%              8             24.0024  115.018
max             10                  30      150

In [13]:
counter=0
for i in test.select_dtypes(include=['object']).columns.tolist():
    if (len(list(set(train[i].unique().tolist())^set(test[i].unique().tolist())))!=0):
        print(i ,'need to be worked on')
        counter+=1
    else:
        continue
if(counter==0):
    print('No work needed')

No work needed

In [14]:
train[test.select_dtypes(include=['object']).columns.tolist()].head()

,Brand,Material,Size,Laptop_Compartment,Waterproof,Style,Color
0,Jansport,Leather,Medium,Yes,No,Tote,Black
1,Jansport,Canvas,Small,Yes,Yes,Messenger,Green
2,Under Armour,Leather,Small,Yes,No,Messenger,Red
3,Nike,Nylon,Small,Yes,No,Messenger,Green
4,Adidas,Canvas,Medium,Yes,Yes,Messenger,Green

In [15]:
Brand=train['Brand'].value_counts().to_frame()
Brand.reset_index()

          Brand  count
0        Adidas  60077
1  Under Armour  59992
2          Nike  57336
3          Puma  56814
4      Jansport  56076

In [16]:
Material=train['Material'].value_counts().to_frame()
Material.reset_index()

    Material  count
0  Polyester  79630
1    Leather  73416
2      Nylon  70603
3     Canvas  68004

In [17]:
Size=train['Size'].value_counts().to_frame()
Size.reset_index()

     Size   count
0  Medium  101906
1   Large   98643
2   Small   92856

In [18]:
Laptop_Compartment=train['Laptop_Compartment'].value_counts().to_frame()
Laptop_Compartment.reset_index()

  Laptop_Compartment   count
0                Yes  148342
1                 No  144214

In [19]:
Waterproof=train['Waterproof'].value_counts().to_frame()
Waterproof.reset_index()

  Waterproof   count
0        Yes  148077
1         No  144873

In [20]:
Style=train['Style'].value_counts().to_frame()
Style.reset_index()

       Style   count
0  Messenger  100031
1       Tote   97438
2   Backpack   94561

In [21]:
Color=train['Color'].value_counts().to_frame()
Color.reset_index()

   Color  count
0   Pink  51690
1   Gray  50280
2   Blue  48097
3    Red  47219
4  Green  46386
5  Black  46378

In [22]:
train.duplicated().value_counts()

False    300000
Name: count, dtype: int64

In [23]:
label = 'Price'
train[label].describe()

count    300000.000000
mean         81.411107
std          39.039340
min          15.000000
25%          47.384620
50%          80.956120
75%         115.018160
max         150.000000
Name: Price, dtype: float64

In [ ]:
from autogluon.tabular import TabularDataset, TabularPredictor

In [ ]:
predictor = TabularPredictor(label=label,eval_metric ='rmse',
                            problem_type="regression").fit( train,
                                                            time_limit=3600*1, verbosity=3,
                                                            presets='best_quality',  
                                                            ag_args_fit={'num_gpus': 1})
results = predictor.fit_summary()

In [ ]:
predictor.leaderboard()

In [28]:
df = predictor.predict(test).to_frame(name=label)
df.head()

Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/CatBoost_r177_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/CatBoost_r50_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/CatBoost_r69_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/LightGBM_r131_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/NeuralNetFastAI_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/NeuralNetTorch_r14_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/RandomForestMSE_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/XGBoost_r89_BAG_L1/model.pkl
Loading: /kaggle/working/AutogluonModels/ag-20250201_024622/models/WeightedEnsemble_L2/model.pkl

       Price
0  81.956306
1  82.571358
2  82.804764
3  81.552307
4  78.532845

In [29]:
sol=pd.read_csv('/kaggle/input/playground-series-s5e2/sample_submission.csv')
sol.head()

       id   Price
0  300000  81.411
1  300001  81.411
2  300002  81.411
3  300003  81.411
4  300004  81.411

In [30]:
sol['Price']=df[label]
sol.head()

       id      Price
0  300000  81.956306
1  300001  82.571358
2  300002  82.804764
3  300003  81.552307
4  300004  78.532845

In [31]:
sol.to_csv('1-autog.csv',index=False)